
= form_with(model: store, locale: true) do |f|
	.form-group

		= f.text_field :name, placeholder: 'Give your store a name', class: "form-control"
	.form-group
		= f.text_area :about, placeholder: 'Say something small about your brand', class: "form-control"
	.form-group
		= f.collection_select :category_id, Category.order(:name), :id, :name, {prompt: "What are you selling?"}, placeholder: 'Say something small about your brand', class: "form-control" 

	= f.submit "Create your store", class: "btn btn-danger big-btn"