%h1= @store.name
%p= @store.about
%p= @store.user.country

%hr/
- @store.products.each do |p|
	= link_to p.name, store_product_path(@store, p)
	- for asset in p.assets
		= image_tag(asset.image_url(:standard))