
.container
	.store-header-container
		.store-header
			%h1.brand-name= @store.name
			%p.rand-description= @store.about
			%p.location= @store.user.country

%hr/

.storeSection
	.container
		.row
			- @store.products.each do |p|
				.col-sm-6.col-md-4.col-6
					.card
						= image_tag(p.image_url(:medium), class: "card-img-top")
						.card-body
							= link_to p.name, store_product_path(@store, p)
							%p= number_to_currency(p.price)