.store-header
	.container
		.store-header-content
			.store-info
				%h2.store-name= @store.name
				.store-info__container
					.store-info__following= pluralize(@store.followers.count, "follower")
					%br/
					- if @store.about.blank?
						%p Go into your settings and describe your store in a few words.
					- else
						.store-desc= @store.about
					= follow_button @store
					-# %button{ 'type' => 'button', class: "btn btn-danger btn-sm", 'data-toggle' => 'modal', 'data-target' => "#newReviewModal" } Add review
					
					.addthis_inline_share_toolbox
					

					-# = social_share_button_tag(@store.name, @store.about, store_url(@store))


.store-section
	.container
		.row
			- @store.products.each do |p|
				.col-sm-3.col-6
					.card
						= image_tag(p.image_url(:card), class: "card-img-top img-fluid")
						.card-body
							= link_to p.name, store_product_path(p.store, p)
							%p= number_to_currency(p.price)



-# New review Modal
.modal.fade#newReviewModal{ 'tabindex' => "-1", 'role' => "dialog", "aria-labelledby" => "newReviewModal", "aria-hidden" => "true" }
	.modal-dialog{ role: "document"}
		.modal-content
			.modal-header
				%h5.modal-title#newProductModalLabel Share your experience
				%button{ class: "close", "type" => "button", "data-dismiss" => "modal", 'aria-label' => "Close"}
					%span{ 'aria-hidden' => true} &times

			.modal-body
				= render 'reviews/form', review: @review