= form_with(model: order, url: orders_path, remote: false) do |f|
	.form-group
		= f.label :name
		= f.text_field :name, size: 40, class: "form-control"
	
	.form-group
		= f.label :address
		= f.text_area :address, size: 40, class: "form-control"

	.form-group
		= f.label :email
		= f.text_field :email, size: 40, class: "form-control"

	.form-group
		= f.label :phone
		= f.text_field :phone, size: 40, class: "form-control"

	.form-group
		= f.label :pay_type
		= f.select :pay_type, Order.pay_types.keys, size: 40, prompt: "Select a payment method", class: "form-control"

	= f.submit 'Place Order', class: "btn btn-danger"