<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-sm-12 text-center">
      <h1>Welcome back!</h1>
      <p>Enter your info to login</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: "control-label" %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "control-label" %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me, class: "control-label" %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-danger btn-block btn-lg" %>
        </div>
      <% end %>
      
      <div class="pt-5 mb-4 text-center lead">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
