
.page-header
	.container
		%h3.section-title= "Results for #{params[:q]}" 


.returned_results
	.container
		.row
			- @products.each do |p|
				.col-6.col-sm-3
					.card
						= image_tag(p.image_url(:card), class: "card-img-top")
						.card-body
							= link_to p.name, store_product_path(p.store, p)
							%p= number_to_currency(p.price)