

.page-header
	.container
		%br/
		%h1= @store.name
		-# Trigger new product modal
		%button{ 'type' => 'button', class: "btn btn-danger", 'data-toggle' => 'modal', 'data-target' => "#newProductModal" } Add product

.container
	.row
		.col-sm-6
			.module
				.module__header Quick stats
				.module__details

					.dashboard_stats
						.label Views from last 7 days
						.views_count= @store.impressionist_count

		.col-sm-6
			.module
				.module__header Products
				.module__details
					- if @store.products.present?
						%ul.dashboard-list
							= render @store.products
					- else
						.not-present
		.col-sm-6
			.module
				.module__header Messages
				.module__details
							

		.col-sm-6
			.module
				.module__header Settings
				.module__details
					%h4= @store.name
					%p= @store.user.phone

					%p.text-center= button_to "Edit your store settings", edit_store_path(@store), method: :get, class: "btn btn-danger btn-sm"


-# New product modal
.modal.fade#newProductModal{ 'tabindex' => "-1", 'role' => "dialog", "aria-labelledby" => "newProductModal", "aria-hidden" => "true" }
	.modal-dialog{ role: "document"}
		.modal-content
			.modal-header
				%h5.modal-title#newProductModalLabel Add a new Product
				%button{ class: "close", "type" => "button", "data-dismiss" => "modal", 'aria-label' => "Close"}
					%span{ 'aria-hidden' => true} &times

			.modal-body
				= render 'new_product', product: @product