

.page-header
	.container
		%br/
		%h1= @store.name
		-# Trigger new product modal
		%button{ 'type' => 'button', class: "btn btn-danger", 'data-toggle' => 'modal', 'data-target' => "#newProductModal" } Add product
.section-title Your products

.container
	.row
		= render @store.products



.page
	%article.white
	%h1.section-header Orders
	- @store.orders.each do |order|
		-# = link_to order.product.id, store_product_path(@store, order.product)
		= order.quantity
		= order.total_price 

-# New product modal
.modal.fade#newProductModal{ 'tabindex' => "-1", 'role' => "dialog", "aria-labelledby" => "newProductModal", "aria-hidden" => "true" }
	.modal-dialog{ role: "document"}
		.modal-content
			.modal-header
				%h5.modal-title#newProductModalLabel Add a new Product
				%button{ class: "close", "type" => "button", "data-dismiss" => "modal", 'aria-label' => "Close"}
					%span{ 'aria-hidden' => true} &times

			.modal-body
				= render 'new_product', product: @product