= content_for :title, @category.name

.category-header
	.container
		%h2= @category.name
		.lead= "#{pluralize(@category.stores.count, "store")} stores selling #{@category.name}"
.container
	.row
		- @category.stores.each do |store|
			.col-sm-4.col-12
				.card
					= store.name