.section
	.container
		.product-header
			.image-container
				.product-img{ style: "background-image:  url('#{@product.image.url}')"  }

				.product-actions
					.actions-container
						-# - if user_signed_in?
						-# 	%span.action-like.action-showText
						-# 		= link_to like_path(product_id: @product.id), class: "#{'is-liked' if current_user.likes!(@product)}", method: :post do
						-# 			%span.fa.fa-heart.fa-2x{aria: {hidden: 'true'}}
						-# 			- if @product.likes.count > 0
						-# 				%span.showText= pluralize(@product.likes.count, "Like")
						-# - else
						-# 	%span.action-like.action-showText
						-# 		%span.fa.fa-heart.fa-2x{aria: {hidden: 'true'}}
						-# 		- if @product.likes.count > 0
						-# 			%span.showText= "#{@product.likes.count}"
						%br/
			.product-info
				.center-vertical-outer
					.center-vertical-inner
						.centered-section
							-# %span.badge-error= @product.subcategory.name
							
							%h1.product-name= @product.name
							.product-store
								%span  by
								= link_to @product.store.name, store_path(@product.store)
							.show-price= number_to_currency(@product.price, unit: 'GHS')

							.buy-now-container
								= button_to "Add to Cart", line_items_path(product_id: @product)

							.description= sanitize(@product.description)
							%br/
			

-# New message modal
.modal.fade#newMessageModal{ 'tabindex' => "-1", 'role' => "dialog", "aria-labelledby" => "newMessageModal", "aria-hidden" => "true" }
	.modal-dialog{ role: "document"}
		.modal-content
			.modal-header
				%h5.modal-title#newMessageModalLabel= "Send message to #{@product.store.name}"
				%button{ class: "close", "type" => "button", "data-dismiss" => "modal", 'aria-label' => "Close"}
					%span{ 'aria-hidden' => true} &times

			.modal-body
				= render "messages/form", message: @message